##################
# MAC OSX stuff
##################
.DS_Store

##################
# IntelliJ stuff
##################
*.iml
.idea

##################
# Maven stuff
##################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.asc
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

##################
# Flyway stuff
##################
flyway.conf